@model Ingredient 
@{
	ViewBag.Title = "Ingredient Details";
}
<h1>@Model.Name Details</h1>

@if(Model.ProductIngredients != null && Model.ProductIngredients.Any())
{
	<h4>Products</h4>
	<table class="table">
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Description</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model.ProductIngredients)
			{
				<tr>
					<td>@product.Product.Name</td>
					<td>@product.Product.Description</td>
					<td>@product.Product.Price</td>
				</tr>
			}
	</table>
}

<div>
	<a asp-action="Index">Back to List</a>
</div>